<template>
  <v-app dark>
    <version-modal/>
    <heartbeat v-if="user"/>
    <v-app-bar app>
      <v-app-bar-nav-icon @click="onShowMenuClick"/>

      <v-toolbar-title>{{this.$root.wampIsOpen}}</v-toolbar-title>

      <v-spacer/>

      <v-app-bar-nav-icon @click="onShowSearchClick">
        <v-icon>mdi-magnify</v-icon>
      </v-app-bar-nav-icon>
    </v-app-bar>

    <v-navigation-drawer app left v-model="showMenu">
      <v-list>
        <v-subheader>Connected users</v-subheader>
        <v-list-item v-for="user in $store.state.auth.users" :key="user.id">
          <v-list-item-content>
            <v-list-item-title>
              {{user.username}}
            </v-list-item-title>
          </v-list-item-content>
          <v-list-item-icon v-if="user.broadcaster === '1'">
            <v-icon>mdi-contactless-payment</v-icon>
          </v-list-item-icon>
        </v-list-item>
      </v-list>
    </v-navigation-drawer>

    <v-main>
      <v-container>
        <nuxt/>
      </v-container>
    </v-main>

    <v-navigation-drawer app right v-model="showSearch" width="50%">
      <template v-slot:prepend>
        <v-list-item>
          <v-list-item-action>
            <v-btn icon @click="showSearch = false">
              <v-icon>mdi-close</v-icon>
            </v-btn>
          </v-list-item-action>
        </v-list-item>
      </template>
      <v-list-item>
        <v-list-item-content>
          <song-select/>
        </v-list-item-content>
      </v-list-item>
    </v-navigation-drawer>


    <v-footer :fixed="true" app>
      <span>&copy; {{ new Date().getFullYear() }}</span>
    </v-footer>

    <client-only>
      <login-dialog/>
    </client-only>
  </v-app>
</template>

<script>
  import Player from '../components/player'
  import Heartbeat from '../components/heartbeat'
  import LoginDialog from '../components/loginDialog'

  import SongSelect from '../components/index/songSelect'
  import { mapState, mapMutations } from 'vuex'
  import VersionModal from '../components/index/versionModal'

  export default {
    components: { VersionModal, SongSelect, LoginDialog, Heartbeat, Player },
    data() {
      return {
        showSearch: undefined,
        showMenu: false
      }
    },
    methods: {
      ...mapMutations('auth', ['addConnectedUser', 'removeConnectedUser', 'setConnectedUsers', 'refreshUser']),
      onShowMenuClick: function() {
        this.showMenu = !this.showMenu
        if (this.showMenu)
          this.showSearch = false
      },
      onShowSearchClick: function() {
        this.showSearch = !this.showSearch
        if (this.showSearch)
          this.showMenu = false
      }
    },
    mounted() {
      this.$wamp.call('fr.lbmurg.user.get-connected').then(
        (data) => {
          this.setConnectedUsers(data)
        }
      )
      this.$wamp.subscribe('fr.lbmurg.user.connected', (args, kwArgs, details) => {
        this.addConnectedUser(args[0])
      })
      this.$wamp.subscribe('fr.lbmurg.user.disconnected', (args, kwArgs, details) => {
        this.removeConnectedUser(args[0])
      })
      this.$wamp.subscribe('fr.lbmurg.user.new_broadcaster', (args, kwArgs, details) => {
        this.$wamp.call('fr.lbmurg.user.get-connected').then(
          (data) => {
            this.setConnectedUsers(data)
          }
        )
        this.refreshUser()
      })

    },
    computed: {
      ...mapState('auth', ['user'])
    }
  }
</script>

<style scoped>

</style>
