<template>

</template>

<script>
  import { mapActions, mapState } from 'vuex'

  export default {
    name: 'heartbeat',
    data: function() {
      return {
        interval: undefined
      }
    },
    async mounted() {
      this.interval = setInterval(this.refresh, this.user.refresh_rate * 1000)
    },
    destroyed() {
    },
    methods: {
      ...mapActions('auth', ['refreshUser']),
      refresh: async function() {
        await this.refreshUser()
      }
    },
    computed: {
      ...mapState('auth', ['user'])
    }
  }
</script>

<style scoped>

</style>
