<template>
  <v-dialog :value="!user" fullscreen hide-overlay
            transition="dialog-bottom-transition">
    <v-card>
      <v-toolbar>
        <v-toolbar-title>Plz connect</v-toolbar-title>
      </v-toolbar>
      <v-list three-line subheader>
        <v-list-item>
          <v-list-item-content>
            <v-list-item-subtitle>Choose a pseudo and start grumblisation</v-list-item-subtitle>
            <v-text-field v-model="pseudo"/>
            <v-btn @click="onConnectionClick">let's grumblise the world</v-btn>
          </v-list-item-content>
        </v-list-item>
      </v-list>
    </v-card>
  </v-dialog>
</template>

<script>
  import { mapActions, mapState } from 'vuex'

  export default {
    name: 'loginDialog',
    props: ['value'],
    data: function() {
      return {
        pseudo: ''
      }
    },
    methods: {
      ...mapActions('auth', ['login']),
      onConnectionClick: async function() {
        await this.login(this.pseudo)
      }
    },
    computed: {
      ...mapState('auth', ['user'])
    }
  }
</script>

<style scoped>

</style>
