<template>
  <div>
    <v-card>
      <client-only>
        <div class="player" v-if="playingSong">
          <v-btn dark small class="reactivate-sound" @click="playerMuted = !playerMuted" v-if="playerReady">
            <v-icon>{{playerMuted ? 'mdi-volume-off' : 'mdi-volume-high'}}</v-icon>
          </v-btn>
          <youtube :video-id="playingSong.youtubeId"
                   :player-vars="{ autoplay: 1, origin: hostUrl, controls: 0}"
                   :mute="playerMuted"
                   host="https://www.youtube-nocookie.com" @ready="onPlayerReady" @ended="nextPlayingSong"
                   class="player"
                   player-width="100%"/>
          <h2>{{playingSong.name}}</h2>
        </div>
        <div v-else>
          <v-card-text>No song in queue</v-card-text>
        </div>
      </client-only>
    </v-card>
    <v-card>
      <v-container>
        <v-tabs v-model="songListTab">
          <v-tab>Queued</v-tab>
          <v-tab>Passed</v-tab>
        </v-tabs>
        <v-row>
          <v-col cols="12" v-for="song in songListTab ? passedSongs : queuedSongs" :key="song.id">
            <v-card color="blue-grey darken-4">
              <div class="d-flex flex-no-wrap">
                <v-avatar class="ma-3" size="125" tile>
                  <v-img :src="song.preview"></v-img>
                </v-avatar>

                <div>
                  <v-card-title class="headline" v-text="song.name"/>

                  <v-card-subtitle v-text="song.username"/>
                </div>
              </div>
            </v-card>
          </v-col>
        </v-row>
      </v-container>
    </v-card>
  </div>
</template>

<script>
  import { STATUS } from '../store'
  import { mapGetters, mapMutations, mapActions, mapState } from 'vuex'

  export default {
    name: 'player',
    data: function() {
      return {
        songListTab: 'Queued',
        playerMuted: true,
        playerReady: false,
        hostUrl: process.env.HOST_URL
      }
    },
    watch: {},
    mounted() {
      this.$wamp.subscribe('fr.lbmurg.queue.added', (args, kwArgs, details) => {
        this.addSong(args[0][0])
      })
      this.$wamp.subscribe('fr.lbmurg.queue.current', (args, kwArgs, details) => {
        args = args[0]
        args.current && this.updateSong(args.current)
        args.next && this.updateSong(args.next)
      })
      this.fetchQueue()
    },
    methods: {
      onPlayerReady(event) {
        event.target.playVideo()
        this.playerReady = true
      },
      ...mapActions(['fetchQueue']),
      ...mapMutations([
        'addSong',
        'updateSong'
      ]),
      nextPlayingSong: function() {
        if (this.user.broadcaster === '1') {
          let next = this.getNextPlayingSong
          let current = this.getPlayingSong
          this.$wamp.call('fr.lbmurg.queue.next', [current, next])
        }
      }
    },
    computed: {
      ...mapGetters([
        'getPlayingSong',
        'getQueuedSongs',
        'getPassedSongs',
        'getNextPlayingSong'
      ]),
      ...mapState('auth', ['user']),
      playingSong: function() {
        return this.getPlayingSong
      },
      queuedSongs: function() {
        return this.$store.state.playlist.filter(s => s.status === STATUS.QUEUED)
      },
      passedSongs: function() {
        return this.getPassedSongs
      }
    }
  }
</script>

<style scoped>
  .player:after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
  }

  .reactivate-sound {
    position: absolute;
    z-index: 2;
    right: 10px;
    top: 5px;
  }
</style>
