<template>
  <v-row>
    <v-col cols="12">
      <form @submit.prevent="onSearchSubmited">
        <v-text-field v-model="keywordSearch"/>
      </form>
    </v-col>
    <v-list-item-group>
      <v-col cols="12" v-for="song in searchResults" :key="song.id">
        <v-card @click="onSongClick(song)">
          <v-list-item>
            <div class="d-flex flex-no-wrap">
              <v-avatar class="ma-3" size="125" tile>
                <v-img :src="song.preview"></v-img>
              </v-avatar>

              <div>
                <v-card-title class="headline" v-html="song.name"/>

                <v-card-subtitle v-html="song.channel"/>
              </div>
            </div>
          </v-list-item>
        </v-card>
      </v-col>
    </v-list-item-group>

    <v-snackbar color="red" v-model="snackbar">
      Song already in play
    </v-snackbar>

  </v-row>
</template>

<script>
  import { STATUS } from '../../store'
  import { mapGetters } from 'vuex'

  export default {
    name: 'songSelect',
    data: function() {
      return {
        keywordSearch: '',
        searchResults: [],
        snackbar: false
      }
    },
    mounted() {

    },
    methods: {
      ...mapGetters(['getPlayingSong', 'getQueuedSongs']),
      onSearchSubmited: async function() {
        let response = await this.$axios.get(`https://www.googleapis.com/youtube/v3/search?part=snippet&maxResults=25&type=video&regionCode=FR&q=${this.keywordSearch}&key=AIzaSyDke2NioiczaR80dKQCAIxMx9889KSO5Fg`)
        this.searchResults = response.data.items.map((item) => {
          return {
            name: item.snippet.title,
            youtubeId: item.id.videoId,
            channel: item.snippet.channelTitle,
            preview: item.snippet.thumbnails.high.url,
            status: STATUS.QUEUED,
            username: this.$store.state.auth.user.username
          }
        })
      },
      onSongClick: async function(song) {
        if (this.getPlayingSong() && this.getPlayingSong().youtubeId === song.youtubeId || this.getQueuedSongs() && this.getQueuedSongs().find(s => s.youtubeId === song.youtubeId)) {
          this.snackbar = true
        } else {
          await this.$wamp.call('fr.lbmurg.queue.add', [song])
        }
      }
    }
  }
</script>

<style scoped>

</style>
