<template>
  <v-dialog v-model="dialog" max-width="1000">

    <v-card>
      <v-card-title class="headline teal darken-4" primary-title>
        update {{version}}
      </v-card-title>

      <v-card-text class="d-flex">
        <v-img src="img/doge.jpg" max-width="500"></v-img>
        <ul class="headline">
          <li>Authentication system improvement</li>
          <li>New <b>user conected</b> menu on left screen</li>
        </ul>
      </v-card-text>

      <v-divider></v-divider>

      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn color="primary" text @click="dialog = false">
          Let's grumblize
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
  export default {
    name: 'versionModal',
    data: function() {
      return {
        dialog: false,
        version: undefined
      }
    },
    mounted() {
      if(!localStorage.getItem('version') || localStorage.getItem('version') !== this.$store.state.env.VERSION){
        localStorage.setItem('version', this.$store.state.env.VERSION)
        this.version = this.$store.state.env.VERSION
        this.dialog = true
      }
    }
  }
</script>

<style scoped>

</style>
