<template>
  <v-layout column justify-center align-center>
    <v-container>
      <v-row>
        <v-col cols="12">
          <player/>
<!--          <song-select/>-->
        </v-col>
      </v-row>
    </v-container>
  </v-layout>
</template>

<script>
  import { mapGetters, mapMutations } from 'vuex'
  import { createGuid } from '../utils/GUID'
  import SongSelect from '../components/index/songSelect'
  import Player from '../components/player'

  export default {
    components: { Player, SongSelect },
    data: function() {
      return {
        user: { id: createGuid(), username: 'test' }
      }
    },
    mounted() {
    },
    methods: {
      ...mapMutations([
        'nextPlayingSong'
      ])
    }
  }

</script>
